.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.user {
    margin-bottom: 42px;
}

.text{
    width: 210px;
    height: 62px;
    font-weight:400 ;
    font-size: 22px;
    line-height: 30.8px;
    text-align: center;
    color: #808080;
}