@font-face {
  font-family: "Inter";
  src: url("./assets/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  font-family: Inter;
  background-color: #E5E5E5;
}


